.button {
  min-width: 8rem;
  padding: 1rem 1.6rem;
  border-radius: 50rem;
  border: none;
  color: #e5e7eb;
  letter-spacing: 0.15rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.4s;
}

.button span {
  font-size: 1.6rem;
  line-height: 0;
}

.primary {
  background-color: var(--color-violet-500);
}

.primary:hover {
  background-color: var(--color-violet-900);
}

.secondary {
  background-color: transparent;
  border: 1px solid var(--color-violet-500);
  padding: 1rem 2rem;
  color: var(--color-grey-300);
}

.secondary:hover {
  background-color: var(--color-violet-500);
  color: #e5e7eb;
}

.edit {
  background-color: var(--color-grey-500);
}

.edit:hover {
  background-color: var(--color-grey-400);
}

.delete {
  background-color: var(--color-red-secondary);
}

.delete:hover {
  background-color: var(--color-red);
}

.paid {
  background-color: var(--color-violet-500);
}

.paid:hover {
  background-color: var(--color-violet-800);
}

.edit,
.paid,
.delete {
  padding: 0.3rem 2.2rem;
}

.delete:focus {
  outline: dashed var(--color-red);
}

.edit:focus {
  outline: dashed var(--color-grey-500);
}
